@charset "utf-8";
.btn-a{display: inline-block; height:24px;overflow:hidden;font:14px/24px "Microsoft YaHei","微软雅黑","SimHei","黑体",sans-serif;color:#888;text-align: center;padding:0 10px;margin:0;border:0;background: none;cursor: pointer;outline: none;vertical-align: top;}
.btn-a .ico{display: inline-block; width:15px;height:14px;margin-right:4px;margin-top: 5px;overflow: hidden;vertical-align: top;}
.btn-a .ico-change{opacity:0.8;background-repeat: no-repeat;}
.btn-a:link{color:#888;text-decoration: none;}
.btn-a:visited{color:#888;text-decoration: none;}
.btn-a:hover, .btn-a:active{color:#666;text-decoration: none;background: #E7E7E7;}
.btn-a:active{position: relative;top:1px;}
.btn-a{*overflow: visible;}
.btn-a .ico-change{background-position:0px 0px}.btn-a .ico-change{background-image: url(//n.sinaimg.cn/products/base/latest/css/component/sina/btn-a_z.png)}