.img-o-a{position: relative;display: block;}
.img-o-a .mask{background:#000;filter:alpha(opacity=20);opacity:0.2;position: absolute;top:0;left:0;width:100%;height:100%;display: block;transition:opacity .2s;}
.img-o-a:hover .mask{filter:alpha(opacity=0);opacity:0;}
