@charset "utf-8";
.nav-c{font:16px/40px "Microsoft YaHei","微软雅黑","SimHei","黑体",sans-serif;text-align: center;min-width: 1000px;position: relative;}
.nav-c .logo{float: left;display: inline;height: 24px;overflow: hidden;padding:0;margin:9px 0 0 0;}
.nav-c .logo a,.nav-c .logo span{float:left;display: inline;}
.nav-c .logo a{width:69px;height: 24px;text-indent: -999px;background-repeat: no-repeat;}
.nav-c .logo .line{height:16px;overflow: hidden;width:1px;margin:4px 15px 0;background: #EE8080}
.nav-c .hd{background: #dd0000;}
.nav-c .hd-hack{position:absolute;right:0;top:0; width:50%;background: #231F20;height:40px;min-width: 500px;}
.nav-c .hd .extra{position: absolute;right:0;top:0; height:40px;background: #231F20;padding:0;}
.nav-c .hd .separator{display: inline-block; width:10px;height:39px;overflow:hidden;background: #dd0000;position: relative;z-index: 1;top:0;left:-5px;
-webkit-transform: skew(-14deg, 0);
    -ms-transform: skewX(-14deg) skewY(0);
    transform: skew(-14deg, 0);
  outline:1px solid transparent;}
.nav-c .hd .extra .separator{float:left;display: inline;}
.nav-c .hd .search {position: relative;float: left;display: inline; width:auto; height: 40px; overflow: hidden;  }
.nav-c .hd .search .input {border: none; outline: none; display: inline-block;width: 0; padding:10px 0; height: 20px; line-height: 20px; font-size: 14px; color: #fff; background: none; vertical-align: top; -webkit-transition: width 0.2s; -moz-transition: width 0.2s; transition: width 0.2s; -webkit-backface-visibility: hidden;font-family: "Microsoft YaHei","微软雅黑","SimHei","黑体",sans-serif;}
.nav-c .hd .search .gray{color:#767676;}
.nav-c .hd .search .input::-ms-clear{display:none;}
.nav-c .hd .search .btn {width: 46px; height: 40px; display: inline-block; padding: 0; margin: 0; line-height: 30px; cursor: pointer; background-color: transparent; text-indent: -999px;overflow: hidden;border: 0; vertical-align: top;outline: none;background-repeat: no-repeat;}
.nav-c .search .btn:hover{background-repeat: no-repeat;}
.nav-c .download{width:auto;float: left;display: inline;}
.nav-c .download-trigger{width: 46px; height: 40px; float: left; display: inline; padding: 0; margin: 0; line-height: 30px; cursor: pointer;text-indent: -999px;overflow: hidden;border: 0; vertical-align: top;outline: none;background-repeat: no-repeat;}
.nav-c .download-trigger:hover,.nav-c .download .selected{cursor: default;background-repeat: no-repeat;}
.nav-c .hd .search-open{z-index:1;background-color: #332F30;}
.nav-c .hd .search-open .input{width: 170px; padding:10px 5px;}
.nav-c .hd .search-open .download-trigger{background-color:#231F20}
.nav-c .hd .search-active .btn{background-repeat: no-repeat;}
.nav-c .hd .search-active .btn:hover{background-color: #686163;}
.nav-c .hd .layout-wrap-a{background: #dd0000;position: relative;}
.nav-c .hd .links{margin-left: -14px;}
.nav-c .hd .links{float: left;display: inline;}
.nav-c .hd .links li{float: left;display: inline;}
.nav-c .hd .links a{padding: 0 13px 0 14px;}
.nav-c .hd .ico-arrow{position: absolute;left:50%;margin-left: -6px;display: block; width:12px;height:6px;overflow: hidden;background-repeat: no-repeat;}
.nav-c .hd .links .ico-arrow{bottom: 0;}
.nav-c .hd .links li a{position: relative;float: left;}
.nav-c .hd .more a{padding-bottom: 16px; font-size: 30px;line-height: 24px;overflow: hidden;}
.nav-c .hd .links a:link{color:#fff;text-decoration: none;}
.nav-c .hd .links a:visited{color:#fff;text-decoration: none;}
.nav-c .hd .links a:hover, .nav-c a:active{color:#fff;text-decoration: none;}
.nav-c .hd .more a:hover,.nav-c .hd .more a:active{cursor: default;}
.nav-c .hd .links-hover li a:link,.nav-c .hd .links-hover li a:visited{color:#EEA3A3;}
.nav-c .hd .links-hover li a:hover{color:#fff;}
.nav-c .bd{border-bottom: 1px solid #ddd;}
.nav-c .bd li{margin: 0 18px 0 0;float: left;display: inline;font-size: 12px;line-height: 34px;}
.nav-c .bd a:link{color:#333;text-decoration: none;}
.nav-c .bd a:visited{color:#333;text-decoration: none;}
.nav-c .bd a:hover, .nav-c a:active{color:#dd0000;text-decoration: none;}
.nav-c .bd .separator{height:11px;width:1px; margin-top: 12px; overflow: hidden;background: #ddd;}
.nav-c .more-layer{border:1px solid #E1DFDA;width:78px;z-index:1000;
  -moz-box-shadow:0px 2px 5px rgba(76, 74, 68, 0.3);
  -webkit-box-shadow:0px 2px 5px rgba(76, 74, 68, 0.3);
  box-shadow:0px 2px 5px rgba(76, 74, 68, 0.3);
  background: #fff;position: absolute;top:40px;padding:10px 0;}
.nav-c .more-layer .ico-arrow{top:-6px;}
.nav-c .more-layer li{height:33px;line-height: 33px;vertical-align: top;}
.nav-c .more-layer li a{display: block;}
.nav-c .more-layer li a:link,.nav-c .more-layer li a:visited{color:#333;}
.nav-c .more-layer li a:hover,.nav-c .more-layer li a:active{color:#dd0000;}
.nav-c .download-layer{border:1px solid #E1DFDA;width:265px;z-index:1000;
  -moz-box-shadow:0px 2px 5px rgba(76, 74, 68, 0.3);
  -webkit-box-shadow:0px 2px 5px rgba(76, 74, 68, 0.3);
  box-shadow:0px 2px 5px rgba(76, 74, 68, 0.3);
  background: #fff;position: absolute;top:40px;right:0;}
.nav-c .download-layer .ico-arrow{top:-6px;left:100%;margin-left: -28px;}
.nav-c .download-layer h2{font-size: 12px;font-weight: normal;}
.nav-c .download-layer li .ico{float: left;display: inline;margin-right: 10px;width:40px;height:40px;}
.nav-c .app-sports-a .ico{background-repeat: no-repeat;}
.nav-c .app-news-a .ico{background-repeat: no-repeat;}
.nav-c .app-weibo-a .ico{background-repeat: no-repeat;}
.nav-c .download-layer .desc{float: left;display: inline;font-size: 12px;line-height: 20px;text-align: left;overflow: hidden;}
.nav-c .download-layer ul{padding: 20px;}
.nav-c .download-layer li{vertical-align: top;padding-bottom:10px;margin-bottom: 10px;border-bottom: 1px dashed #DDD;}
.nav-c .download-layer li.last{padding:0;margin:0;border:0;}
.nav-c .download-layer .line{display: inline-block;background: #bbb;width:1px;height:10px;margin:2px 15px 0;}
.nav-c .download-layer li a:link,.nav-c .download-layer li a:visited{color:#333;}
.nav-c .download-layer h2 a:link,.nav-c .download-layer h2 a:visited{color:#888;}
.nav-c .download-layer li a:hover,.nav-c .download-layer li a:active{color:#dd0000;}
.nav-c-simple{font-size: 14px;}
.lt-ie9 .nav-c .hd .separator{
   left:-2px;
   top:3px;
   
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.24932800284318127, M21=0, M22=1, SizingMethod='auto expand')";
   
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.24932800284318127, M21=0, M22=1, SizingMethod='auto expand');
   margin-left: -8px;
   margin-top: -3px;
}
.lt-ie9 .nav-c .hd .search .input{padding-left: 15px;}
.lt-ie8 .nav-c .hd .search .input{padding-left: 5px;}
.nav-c .logo a{background-position:0px 0px}.nav-c .hd .search .btn{background-position:-38px -32px}.nav-c .search .btn:hover{background-position:-38px -68px}.nav-c .hd .search-active .btn{background-position:-38px -68px}.nav-c .download-trigger{background-position:-38px -104px}.nav-c .download-trigger:hover,.nav-c .download .selected{background-position:-38px -140px}.nav-c .hd .ico-arrow{background-position:-53px -188px}.nav-c .app-sports-a .ico{background-position:-29px -216px}.nav-c .app-news-a .ico{background-position:-29px -276px}.nav-c .app-weibo-a .ico{background-position:-29px -336px}.nav-c .logo a,.nav-c .hd .search .btn,.nav-c .search .btn:hover,.nav-c .hd .search-active .btn,.nav-c .download-trigger,.nav-c .download-trigger:hover,.nav-c .download .selected,.nav-c .hd .ico-arrow,.nav-c .app-sports-a .ico,.nav-c .app-news-a .ico,.nav-c .app-weibo-a .ico{background-image: url(//n.sinaimg.cn/products/base/latest/css/component/sina/nav-c_z.png)}