@charset "utf-8";
.news-list-a{overflow:hidden;font:14px/28px "Microsoft YaHei","微软雅黑","SimHei","黑体",sans-serif;color:#333;}
.news-list-a .item{height:28px; line-height: 28px; overflow: hidden;position: relative;padding-left: 13px;background: url(//n.sinaimg.cn/products/base/latest/images/dot_b.png) left center no-repeat;}
.news-list-a .item a{position: relative;display: block;width:100%;height: 100%;}
.news-list-a .item a:link{color:#333;text-decoration: none;}
.news-list-a .item a:visited{color:#666;text-decoration: none;}
.news-list-a .item a:hover, .news-list-a a:active{color:#dd0000;text-decoration: none;}
.news-list-a .time{font-style: normal;color:#888;position: absolute;right:0;top:0;padding:0 5px;background: #fff;}
.news-list-a-small{line-height: 26px;}
.news-list-a-small .item{line-height: 26px;height:26px;margin-bottom: 0;}
.news-list-a-big{line-height: 37px;}
.news-list-a-big .item{line-height: 37px;height:37px;}
.news-list-a-big .item a{position: relative;display: block;width:100%;height: 36px;}
.news-list-a-dashed .item a{border-bottom:1px dashed #e8e8e8;}
.news-list-a-dashed .item a.last{border-bottom:none;}
.news-list-a .item{*vertical-align:top;}
