@charset "utf-8";
.news-list-b{overflow:hidden;font:14px/32px "Microsoft YaHei","微软雅黑","SimHei","黑体",sans-serif;color:#333;}
.news-list-b .item{margin-bottom: 22px;vertical-align: top;zoom:1;}
.news-list-b li.last{margin-bottom: 0;}
.news-list-b .item .title{font-size: 18px;height:22px;line-height: 22px;margin-bottom:10px;font-weight: normal;color:#333;}
.news-list-b .item .intro{line-height: 20px;color:#888;font-size: 12px;}
.news-list-b .item .intro-small{font-size: 12px;}
.news-list-b .item p{line-height: 18px;margin-bottom: 10px;}
.news-list-b .item a:link{color:#333;text-decoration: none;}
.news-list-b .item a:visited{color:#666;text-decoration: none;}
.news-list-b .item a:hover, .news-list-b a:active{color:#dd0000;text-decoration: none;}
.news-list-b .slide-wrap .slide-item{display: block;}
.news-list-b .item{*vertical-align:top;*zoom:1;}
