@charset "utf-8";
.schedule{font: 14px/1.43 'Microsoft YaHei', 微软雅黑,SimSun,黑体, sans-serif;min-width:1000px;padding:15px 0;background:#fff;}
.schedule .fl{float:left;}
.schedule .fr{float:right;}
.schedule .icon_video_record:before,.schedule .icon_video_live:before{left:0;top:15px;}
.schedule__prev,.schedule__next{height: 103px;border:1px solid #ddd;width: 23px;position: relative;z-index: 2;}
.schedule__prev:hover,.schedule__next:hover{border-color:#888;cursor: pointer;}
.schedule__prev{background:#fff url(//n.sinaimg.cn/products/base/latest/images/prev.png) center center no-repeat;}
.schedule__next{background:#fff url(//n.sinaimg.cn/products/base/latest/images/next.png) center center no-repeat;}
.schedule__prev:hover{background:#fff url(//n.sinaimg.cn/products/base/latest/images/prev_hover.png) center center no-repeat;}
.schedule__next:hover{background:#fff url(//n.sinaimg.cn/products/base/latest/images/next_hover.png) center center no-repeat;}
.schedule__slide{width:940px;height:100px;position:relative;overflow:hidden;margin-left: -11px}
.schedule__item{margin-left:10px;position: relative;border: 1px solid #ddd;}
.schedule__item:hover{border-color:#888;z-index: 3;}
.schedule__item .schedule__item_cont{display:block;width:158px;height:83px;padding:10px;color:#455056;background: #ffffff;}
.schedule__item[sta="0"],.schedule__item[sta="1"]{border-top:none;}
.schedule__item[sta="0"] .schedule__item_cont,.schedule__item[sta="1"] .schedule__item_cont{border-top:2px solid #888;height:82px;}
.schedule__item[sta="1"] .schedule__item_cont{border-top-color:#dd0000;}
.schedule__item_hd{line-height:19px;margin-bottom:7px;font-size:12px;}
.schedule__item[sta="1"] .schedule__item_hd,.schedule__item[sta="1"] .schedule__item_hd .hd_rnd{color: #dd0000;}
.schedule__item_hd p{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:14px;}
.schedule__item_hd .hd_rnd{display: inline-block;margin-left:5px;font-size:12px;color:#878f8f;}
.schedule__item_hd .icon_status{width: 16px;height: 14px;}
.schedule__item_hd .icon_status,.schedule__item[sta="2"] .icon_status,.schedule__item[sta="0"] .icon_status{background-image: url(//n.sinaimg.cn/products/base/latest/images/img_icon.png);}
.schedule__item[sta="1"] .icon_status{background-image: url(//n.sinaimg.cn/products/base/latest/images/img_cur.png) ;}
.schedule__item.icon_video_record .icon_status{background: url(//n.sinaimg.cn/products/base/latest/images/video_icon.png) left bottom no-repeat;}
.schedule__item.icon_video_live .icon_status{background: url(//n.sinaimg.cn/products/base/latest/images/video_live.png) left bottom no-repeat;}
.schedule__item_bd p{line-height:16px;font-size:12px;}
.schedule__item_bd p span{display:block;max-width:7em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.schedule__item_bd .bd_date,.schedule__item_bd .bd_time{width:34px;text-align:right;}
.schedule__item_bd .winner{background-image: url(//n.sinaimg.cn/products/base/latest/images/win_icon.png);width: 4px;height: 8px;margin-right: -10px;display: none;margin-top: 4px;}
.schedule__item[winner="1"] p[hv="1"] .winner,.schedule__item[winner="2"] p[hv="2"] .winner{display: block;}
.schedule__item[winner="1"] p[hv="1"] .bd_score,.schedule__item[winner="2"] p[hv="2"] .bd_score{color:#e04b44;}
      
.schedule__item .schedule__item_ft{position:absolute;bottom:0px;width:178px;height:30px;background:#f7f7f7;}
.schedule__item .schedule__item_ft:hover{}
.schedule__item .schedule__item_ft ul{text-align:center;float:left;position:relative;left:50%;}
.schedule__item .schedule__item_ft li{padding:9px 0;float:left;position:relative;left:-50%;list-style:none;display:inline;}
.schedule__item .schedule__item_ft a{float:left; text-align:center;color:#dd0000;font-size:12px;height:12px;line-height:12px;padding:0 7px;border-right:1px solid #ddd;}
.schedule__item .schedule__item_ft li:last-child a{border-right: none;}
.schedule__item .schedule__item_ft a:hover{text-decoration: underline;}
.schedule__more{text-align:center;}
.schedule__more a{line-height:82px;}
