@charset "utf-8";
.slide-focus-a-wrap{overflow: hidden;position: relative;}
.slide-focus-a-cont{width:100%;overflow: hidden;position: relative;}
.slide-focus-a-cont li{float: left;display: inline;overflow: hidden;position: relative;}
.slide-focus-a-prev,.slide-focus-a-next{position: absolute;top:50%;display: block;width:60px;height:100px;text-indent: -999px; margin-top: -50px;overflow: hidden;cursor: pointer;}
.slide-focus-a-prev{left:0;}
.slide-focus-a-next{right:0;}
.slide-focus-a-prev .ico,.slide-focus-a-next .ico{display: block;width:60px;height:100px;}
.slide-focus-a-prev .ico{background-repeat: no-repeat;}
.slide-focus-a-next .ico{background-repeat: no-repeat;}
.slide-focus-a-prev:hover,.slide-focus-a-next:hover{background:rgba(0,0,0, 0.5); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7f000000', EndColorStr='#7f000000');*zoom:1;}
:root .slide-focus-a-prev:hover,:root .slide-focus-a-next:hover{filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00000000', EndColorStr='#00000000'); }
.slide-focus-a-txts{width:100%;position:absolute;left:0;bottom:0;line-height: 60px;}
.slide-focus-a-txts p{padding-left: 20px;font-size: 20px;color:#fff;}
.slide-focus-a-txts p a{display: block; width:100%;height:60px;text-overflow:ellipsis;overflow: hidden;white-space:nowrap;}
.slide-focus-a-txts a:link, .slide-focus-a-txts a:visited{color:#fff;}
.slide-focus-a-txts a:hover, .slide-focus-a-txts a:active{color:#fff;}
.slide-focus-a-pager{position: absolute;right:10px;bottom:0;padding:24px 0;height: 12px;}
.slide-focus-a-pager a{display: inline-block;width:12px;height:12px;margin-right:10px;overflow: hidden;vertical-align: middle;background-repeat: no-repeat;}
.slide-focus-a-pager a.cur{background-repeat: no-repeat;}
.slide-focus-a-pager a:hover{cursor: pointer;}
.slide-focus-a-bg{position:absolute;left:0;bottom:0;width:100%;height: 60px;background-repeat: repeat-x}
.slide-focus-a-bg{background-position:0px 0px}.slide-focus-a-bg{background-image: url(//n.sinaimg.cn/products/base/latest/css/component/sina/slideFocus-a_x.png)}.slide-focus-a-prev .ico{background-position:0px 0px}.slide-focus-a-next .ico{background-position:0px -120px}.slide-focus-a-pager a{background-position:-48px -240px}.slide-focus-a-pager a.cur{background-position:-48px -272px}.slide-focus-a-prev .ico,.slide-focus-a-next .ico,.slide-focus-a-pager a,.slide-focus-a-pager a.cur{background-image: url(//n.sinaimg.cn/products/base/latest/css/component/sina/slideFocus-a_z.png)}