.tab-b{width:100%;height:38px;text-align:center;font:16px/38px "Microsoft Yahei", 微软雅黑, SimHei, 黑体, sans-serif;margin-bottom:14px;}
.tab-b a{float:left;display:block;background:#f8f8f8;width:148px;border:1px solid #e5e5e5;color:#888;border-right-width:0;}
.tab-b a.nav-selected{background: #fff;border-bottom:none;border-top:4px solid #dd0000;margin-top:-3px;color:#333;}
.tab-b a.last{border-right-width:1px;}