@charset "utf-8";
.thumbnail-a{overflow:hidden;font:14px/22px "Microsoft YaHei","微软雅黑","SimHei","黑体",sans-serif;color:#fff;}
.thumbnail-a .img{position:relative;}
.thumbnail-a img{display:block;}
.thumbnail-a a{position:relative;display:block;width:100%;height:100%;}
.thumbnail-a a:link{color:#fff;text-decoration:none;}
.thumbnail-a a:visited{color:#fff;text-decoration:none;}
.thumbnail-a a:hover,.thumbnail-a a:active{color:#fff;text-decoration:none;}
.thumbnail-a{position:relative;display:block;}
.thumbnail-a .mask{background:#000;filter:alpha(opacity=0);opacity:0;position:absolute;top:0;left:0;width:100%;height:100%;display:block;_display:none;transition:opacity 0.3s;}
.thumbnail-a:hover .mask{left:0;filter:alpha(opacity=0.3);opacity:0.3;}
.thumbnail-a .caption{position:absolute;left:0;bottom:0;color:#fff;font-weight:normal;text-indent:10px;width:100%;}
.thumbnail-a .caption h3,.thumbnail-a .caption h4,.thumbnail-a .caption h5{font-weight:normal;font-size:14px;line-height:30px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.thumbnail-a .bg{position:absolute;left:0;bottom:0;width:100%;height:50px;background:url(../../../images/gradient_b.png?__sprite) repeat-x 0 0;_background:none;}

/* .thumbnail-a-video .caption{text-indent: 28px;} */
.thumbnail-a-video .ico{position:absolute;left:50%;top:50%;margin:-25px 0 0 -25px;display:block;width:50px;height:50px;overflow:hidden;background:url(../../../images/video_ico_a.png?__sprite) 8px 8px no-repeat;z-index:1;transition:opacity .3s ease;opacity:0;}
.thumbnail-a-video a:hover .ico{opacity:0.7;filter:alpha(opacity=70);}
.thumbnail-a-album .ico{position:absolute;right:10px;top:10px;display:block;width:20px;height:16px;overflow:hidden;background:url(../../../images/ico_b.png?__sprite) no-repeat 0 0;}
.thumbnail-a-gif .ico{width:30px;height:18px;position:absolute;top:0px;right:0px;background:url(../../../images/ico_gif_a.png?__sprite);}
.thumbnail-a-gif img,.thumbnail-a-gif .ico{cursor:pointer;}

/*标题在图片外*/
.thumbnail-a-out .caption{position:static;width:auto;padding:10px 0;text-indent:0;color:#333;}
.thumbnail-a-out a:link .caption{color:#333;text-decoration:none;}
.thumbnail-a-out a:visited .caption{color:#333;text-decoration:none;}
.thumbnail-a-out a:hover .caption,.thumbnail-a-out a:active .caption{color:#0077dd;text-decoration:underline;}
.thumbnail-a-out .caption h6{font-weight:normal;font-size:14px;line-height:30px;text-align:left;}
.thumbnail-a-out .caption p{text-align:left;color:#333;margin-top:-2px;}
.thumbnail-a-out a:hover p{color:#dd0000;text-decoration:underline;}

/*circle*/
.thumbnail-a-circle .img, .thumbnail-a-circle .mask, .thumbnail-a-circle .bg {border-radius: 50%;-webkit-border-radius: 50%;-o-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;}
