@charset "utf-8";
.title-a{overflow:hidden;height:34px;font:14px/34px "Microsoft YaHei","微软雅黑","SimHei","黑体",sans-serif;color:#333;position: relative;background: #fff;}
.title-a .label{font-weight: normal;font-size: 24px;}
.title-a .label{display: inline-block;}
.title-a .label i{float: left;display: inline;width:5px;height:26px;overflow: hidden; background: #dd0000;margin:4px 10px 0 0;}
.title-a .label a:link{color:#333;text-decoration: none;}
.title-a .label a:visited{color:#333;text-decoration: none;}
.title-a .label a:hover, .title-a .label a:active{color:#dd0000;text-decoration: none;}
.title-a .extra{position: absolute;top:0;right:0;}
.title-a .extra .more{display: block;padding: 12px 0 0 0;line-height: 22px;}
.title-a .extra .more:link{color:#555;text-decoration: none;}
.title-a .extra .more:visited{color:#555;text-decoration: none;}
.title-a .extra .more:hover, .title-a .extra .more:active{color:#dd0000;text-decoration: none;}
.title-a{_zoom:1;}
