@charset "utf-8";
.weibo-list-b{overflow:hidden;font:14px/30px "Microsoft YaHei","微软雅黑","SimHei","黑体",sans-serif;color:#333;overflow: hidden;text-align: center;}
.weibo-list-b .item{float:left;display:inline;position: relative;width:70px;min-height: 90px;margin-right: 6px;}
.weibo-list-b .last{margin-right:0;}
.weibo-list-b img,.weibo-list-b .mask{width:48px;height:48px;border-radius: 50%;margin:0 auto;display:block;}
.weibo-list-b .mask{left:10px;}
.weibo-list-b span{display:block;width:100%;line-height: 30px;text-overflow:ellipsis;overflow: hidden;white-space:nowrap;cursor: pointer;}
.weibo-list-b a{position: relative;display: block;width:100%;height: 100%;}
.weibo-list-b a:link{color:#333;text-decoration: none;}
.weibo-list-b a:visited{color:#666;text-decoration: none;}
.weibo-list-b a:hover, .weibo-list-b a:active{color:#dd0000;text-decoration: none;}
.weibo-list-b .item{_height:90px;}
