@charset "utf-8";
/* CSS Document */

.left_align {
	text-align:left;}

/* [ AGENCY ALERTS ] */

.NameCol_ER {
	text-align: left;
        width: 35%;
}

.new {
	color:red;
	font-style:italic;
	font-weight:bold;
}


#agency_trendsAlertsWrapper 
{
    position: relative;
	/*display:none;  Comment this line when the there is an agency alert*/
}
#agency_alerts {
	color:#FFF;
	text-align:left;
	margin-top: -2px;	
}
#agency_alerts:before{
	clear: none;
	content:'To contain the spread of COVID-19, mandatory telework has been invoked for SBE employees.';/* Change this text for office alerts */
	
	}


#agency_trendsAndAlerts p 
{
    margin: 0;
}

#agency_trendsAndAlerts a 
{
	color: #fff;
	font-size: 90%;
}

#agency_trendsAndAlerts 
{
	height: 47px;
	color: #fff;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 1001;
	border-radius: 5px;
	overflow: hidden;
	font-size: 90%;
	box-shadow: 0px 0px 5px 0px #000;
	zoom: 1;
}

#agency_trendsAndAlerts.hasAlert {
	display: block !important;
	color: #000;
	/*background-color: #FC0;*/ /*Uncomment for a yellow background*/
	background-color: #000; /*black background*/
}

#agency_trendsAndAlerts.hasAlert #agency_alerts a p {
    padding: 0px 40px 0px 0px;
}

#agency_trendsAndAlerts #agency_alerts,
#agency_trendsAndAlerts #agency_trending {
	margin: 6px 10px;
	padding: 0px 40px 0px 0px;
}


#agency_trendsAndAlerts.hasAlert #agency_alerts {
	display: block;	
}
				
#agency_trendsAndAlerts.hasAlert #agency_trending {
	display: none;	
}
				
#agency_trendsAndAlerts.hasAlert #agency_alerts a {
	display: block;
    color: #fff; /*Change color based on the background-color of your alert box*/
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #000;
}

#agency_trendsAndAlerts.hasAlert #agency_alerts a:last-child {
	display: block;
    margin-bottom: 0px;
    padding-bottom: 5px;
    border-bottom: none;
}
				
#agency_trendsAndAlerts.hasAlert #agency_alerts a:hover,
#agency_trendsAndAlerts.hasAlert #agency_alerts a:active {
	text-decoration: none;
}

.agency_alertIcon {
	background-image: url(../img/icons/warning-sign.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 35px;
    height: 35px;
	float: left;
	margin-right: 10px;	
    display: inline-block;
}
				
#agency_trendsAndAlerts h2 {
	clear: none;
	text-transform: uppercase;
	font-size: 100%;
	margin-bottom: 2px;	
	padding-bottom: 0;
	border-bottom: none;
}

#agency_trendsAndAlerts ul {
	width: 500px;
}

#agency_trendsAndAlerts li a {
	margin-right: 5px;	
}

#agency_trendsAndAlerts li:after {
	content: "\2022";
	margin-right: 5px;
}

#agency_trendsAndAlerts li:last-child:after {
	content: "" !important;
	margin-right: 0 !important;
}

#agency_alertCount p 
{
    font-size: 100%;
    border-radius: 5px;
    background-color: #900;
    border: 2px solid #FFF;
    position: absolute;
    top: 10px;
    color: #FFF;
    padding: 1px 9px;
    text-align: center;
    font-weight: bold;
    right: 10px;
}

/* [ AGENCY ALERTS ] */

#secondary_middle_col_left {
    background-color:#F7F7F7;
    float: left;
    border-left: none;
    padding: 0 0 20px 20px;
    margin-top: 20px;
}

#board_meeting {
	border:2px solid;
 	border-radius:5px;
	border-color:#ccc;	
	box-shadow: 5px 5px 5px #888888;
	text-align: center;
	padding: 10px;
	font-weight:bold;

}	
caption {
	text-align:left;
	font-weight:bold;}



#accordion-link a, a:link, a:active {
	color:#08c;
	text-decoration:underline;
	}
	#accordion-link  a:hover, a:visited {
		color:#036;}
#accordion-link2 a, a:link, a:active {
	color:#08c;
	text-decoration:underline;
	}
	#accordion-link2  a:hover, a:visited {
		color:#036;}

.device_overflow {
	display: none;
}

@media (max-width: 767px) { 
.device_overflow {
	margin-top: 1em;
	font-size:small;
	display: block;
} 
div.mdgov_OverflowTable {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

div.mdgov_OverflowTable table {
    width: 100%;
    white-space: nowrap; /* Optional */
}
}
.Row1 /* White Row */ {
    background-color: white;
}
        
.Row2 /* Blue Row */ {
    background-color: #EFF3FB;
}

.details1 {
	background-color:#FFFFFF;

    border-collapse: collapse;
} 

.toprow {
    color: white;
    border: 0;
    font-weight: bold;
    text-align: center;
    background-color: #2b639e;
}
.detailsnamecol {
    text-align: left;

}
.detailsvotescol {
    text-align: right;

}  

.details2 {
	background-color:#FFFFFF;

    border-collapse: collapse;
} 

.details3 {
	background-color:#FFFFFF;

    border-collapse: collapse;
} 

.details4 {
	background-color:#FFFFFF;

    border-collapse: collapse;
} 

.details5 {
	background-color:#FFFFFF;

    border-collapse: collapse;
} 

.details5b {
	background-color:#FFFFFF;

    border-collapse: collapse;
} 

.details6 {
	background-color:#FFFFFF;

    border-collapse: collapse;
} 

.NameCol {
	text-align: left;

}
        
.WinCol {

    font-weight: bold;
}
        
.PartyCol {
	text-align: left;

}
        
.VotesCol {
	text-align: left;

}
        
.PercentCol {

    text-align: right;
}

li.numbered {

	list-style-type: decimal;
    list-style-image: none;
    margin: 0 0 0 10px;
    padding: 1px 1px 1px 4px;
}



.county_turnout {
	background-color: #003366;
	color: white;
    font-size:x-small;
	font-weight: bold;
	text-align:left;
	border-color:#F9F9F9;
	border-style: none;
}

.county_turnout_rows {
	background-color: white;
	color: black;
    font-size:12px;
	font-weight: lighter;
	text-align:left;
	border-style: none;
}

.county_turnout_alt_rows {
	background-color: #EFEFEF;
	color: black;
    font-size:12px;
	font-weight: lighter;
	text-align:left;
	border-style: none;
}

.turnout_col_header {
	background-color:#003366;
	border-color: white;
	border-style: none none solid solid;
	border-width: 1px;
	color: white;
	font-weight:bold;
	padding: 5px;
}
.turnout_content {
	border-color: white;
	border-style: none none solid solid;
	border-width: 1px;
	color: black;
	padding: 5px;
	text-align: right;
}
.turnout_content_alt {
	background-color: #F0F0F0;
	border-color: white;
	border-style: none none solid solid;
	border-width: 1px;
	color: black;
	padding: 5px;
	text-align: right;
}
.turnout_row_header {
	border-color: white;
	border-style: none none solid solid;
	border-width: 1px;
	color: black;
	padding: 5px;
}
.turnout_row_header_alt {
	background-color:#F0F0F0;
	border-color: white;
	border-style: none none solid solid;
	border-width: 1px;
	color: black;
	padding: 5px;
}
.turnout_table_header {
	color: black;
	font-size:16px;
	font-weight:bold;
	padding: 20px 5px 5px 5px;
}

.sbe_group_active_page {
	color: #000099;
	font-weight: bold;
}


<!--.cl_socialNav {-->
    <!--float: right;-->
	<!--margin-top: 10px;-->
<!--}-->